data
.venv
.pytest_cache
src/grocery/__pycache__
src/grocery/domain/__pycache__
src/grocery/generation/__pycache__
src/grocery/reference_data/__pycache__
src/grocery/io/__pycache__
src/grocery/pipeline/__pycache__
src/grocery/grocery_data_platform.egg-info
tests/unit/__pycache__
tests/unit/generation/__pycache__
tests/unit/io/__pycache__